<div class='container text-center text-light' style='background: #3B3B99;'>
  <h1>404</h1>
  <h3>Page not found</h3>
  <p>oops! the page you are looking for doesn't exists. It might have been moved or deleted.</p>
  <div class='error-actions'>
    <a href='/' class='btn btn-outline-dark text-light'>Back To Home </a>
  </div>
</div>
